name: Build JAR

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build with Gradle
      run: ./gradlew build --stacktrace

    - name: Upload JAR Artifact
      uses: actions/upload-artifact@v4
      with:
        name: aimlock-jar
        path: build/libs/*.jar
